<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#299cd8">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Digitus">
    <meta name="application-name" content="Digitus">
    <meta name="msapplication-TileColor" content="#299cd8">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#299cd8">
    <title>Digitus</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- moveTo: Scroll on click -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moveTo/1.8.0/moveTo.min.js"></script>

    <!-- Instagram feed code -->
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  </head>
  <body>
    <header class="header" role="banner">
      <a href="" class="logo"><img class="logo" src="/assets/img/logo_d.png" alt="Digitus logo"/></a>
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label class="menu-icon" for="nav-trigger"><span class="navicon"></span></label>
      <div class="menu">
        <a href="#calendar-span">ARRANGEMENTER</a>
        <a href="#sponsor-span">SAMARBEIDSPARTNER</a>
        <a href="#board-span">STYRET</a>
        <a href="#press-span">NYHETER</a>
      </div>
    </header>
    <main id="content" class="main-content" role="main">
      <span id="about-span"></span>
      <div id="about" class="section about">
        <h1>Digitus</h1>
        <h2>Linjeforeningen for Digøk</h2>
        <div>
          <p>{{ site.about | markdownify }}</p>
          <!-- fjern target="_blank" når vi får egen underside, ryddig å lage ny fane når vi linker til en doc -->
          <a target="_blank" href="https://docs.google.com/document/d/1TDxy3Tnwz5i5h2MsBf87YpEE5Cc_uvZooHyf5KKZelE/edit?usp=sharing" style="font-weight: bold">Her finner du vedtektene våre.</a>
        </div>
      </div>
      <span id="images-span"></span>
      <div id="images" class="section images">
        <div class="elfsight-app-0bbf1417-0474-4135-ba1a-c59858466028"></div>
      </div>
      <span id="calendar-span"></span>
      <div id="calendar" class="section calendar">
        <h2>Arrangementer</h2>
        <p>{{ site.events_desc }}</p>
        <img src="{{ site.events }}" alt="event plan"/>
        <p><a href="https://www.facebook.com/digitusuio/" target="_blank" >Datoer og innhold kan endre seg. Følg med på vår Facebook-side for oppdatert info.</a></p>
      </div>
      <span id="sponsor-span"></span>
      <div id="sponsor" class="section sponsor">
        <h2>Vår samarbeidspartner</h2>
        <div>
          <p>{{ site.partner_text }}</p>
          <a href="{{ site.partner_url }}" target="_blank">
            <img src="{{ site.partner_logo }}" alt="partner logo"/>
          </a>
        </div>
      </div>
      <span id="board-span"></span>
      <div id="board" class="section board">
        <h2>Styret</h2>
        <div class="board-members">
        {% for board_member in site.board_members %}
          <div class="board-member">
            <div class="portrait">
              <img src="{{ board_member.img }}"  alt="{{ board_member.name }}"/>
            </div>
            <p>{{ board_member.name }}</p>
            <p class="role">{{ board_member.role }}</p>
            <div class="links">
              <a href="mailto:{{ board_member.mail }}"><i class="far fa-envelope"></i></a><a href="{{ board_member.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <span id="press-span"></span>
      <div class="section press">
        <h2>Nyheter</h2>
        {% for press in site.press %}
        <div>
          <a href="{{ press.link }}" target="_blank" >{{ press.title }}</a>
          <p>{{ press.subtitle }}</p>
        </div>
        {% endfor %}
      </div>
    </main>
    <footer class="page-footer">
      <img src="/assets/img/logo.png" alt="logo"/>
      <p>Kontakt oss:<a href="mailto:styret@digitusuio.no">styret@digitusuio.no</a></p>
      <div class="icon-bar">
        <a href="https://www.facebook.com/digitusuio/" target="_blank" >
          <img src="/assets/img/facebook.svg" alt="facebook"/>
        </a>
        <a href="https://www.instagram.com/digitus_uio/" target="_blank" >
          <img src="/assets/img/instagram.svg" alt="instagram"/>
        </a>
        <a href="https://www.linkedin.com/company/digitusuio/" target="_blank" >
          <img src="/assets/img/linkedin.svg" alt="linkedin"/>
        </a>
      </div>
    </footer>
    <script type="text/javascript">
      function callAjax(url, callback){
        var xmlhttp;
        // compatible with IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
            callback(xmlhttp.responseText);
          }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
      }

      callAjax('https://api.instagram.com/v1/users/self/media/recent/?access_token=5889155613.7519461.9110620ffed1489c94fc0c38763186df', function(data) {
        data = JSON.parse(data)['data'];
        var i = 0;
        data.forEach(function(image) {
          if(i < {{ site.instagram_limit }}) {
            document.getElementsByClassName('images-holder')[0].innerHTML += '<a href="' + image.link + '"><img src="' + image.images.low_resolution.url + '"/>';
          }
          i++;
        });

      });

      callAjax('https://us-central1-ifi-tracking.cloudfunctions.net/function-1', function(data) {
        data = JSON.parse(data);

        data.sort(function(a,b){
          return new Date(a.date_time) - new Date(b.date_time);
        });

        data.forEach(function(event) {
          var date = new Date(event.date_time);
          var dayMap = ['Søn', 'Man', 'Tir', 'Ons', 'Tor', 'Fre', 'Lør'];
          var monthMap = ['jan', 'feb', 'mar', 'apr', 'mai', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'des'];
          if(new Date() < date) {
            document.getElementById('calendar3').innerHTML += '<div class="event"><a href="' + event.url +'"><h3>' + event.title +'</h3></a></div><p>' + dayMap[date.getDay()] + ' ' + date.getDate() + '. ' + monthMap[date.getMonth()] + ', ' + event.place + '</p></div>';
          }
        });
      });

      var moveTo = new MoveTo();

      (function() {
        var menuItems = document.getElementsByClassName('menu')[0]
        menuItems = menuItems.children;
        for (var i = 0; i < menuItems.length; i++) {
          moveTo.registerTrigger(menuItems[i]);
        }
        var logo = document.getElementsByClassName('logo')[0]
        moveTo.registerTrigger(logo);
      })();

      AOS.init();
    </script>
  </body>
</html>
