<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class="top">
        <img src="/assets/img/logo_d.png"/>
        <h2 class="project-tagline">{{ site.description }}</h2>
      </div>
      <div class="menu-bar">
        <img src="/assets/img/logo_digitus.png"/>
        <div class="menu"><a class="btn" href="#calender">Arrangementer</a><a class="btn" href="#board">Styret</a><a class="btn" href="#images">Bilder</a><a class="btn" href="#contact">Kontakt oss</a></div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      <div id="calender" class="section calender">
        <h2>Arrangementer</h2>
        <div class="event">
          <a href="#"><h3>Morro med digitus</h3></a>
          <p>Torsdag kl. 12:15, Fortran</p>
        </div>
        <div class="event">
          <a href="#"><h3>Annen morro med digitus</h3></a>
          <p>22. mars kl. 18:00, Escape</p>
        </div>
      </div>
      <div id="board" class="section board">
        <h2>Styret</h2>
        <div class="board-members">
        {% for board_member in site.board_members %}
          <div class="board-member">
            <img src="{{ board_member.img }}" />
            <p>{{ board_member.name }}</p>
            <p class="role">{{ board_member.role }}</p>
          </div>
        {% endfor %}
        </div>
      </div>
      <div id="images" class="section images"><h2>Bilder</h2><div class="images-holder"></div></div>
      <div id="contact" class="section">
        <h2>Kontakt oss</h2>
        <p>Du kan kontakte leder på  <a href="{{ site.contact_leader }}">{{ site.contact_leader }}</a> eller hele styret på <a href="{{ site.contact_board }}">{{ site.contact_board }}</a></p>
      </div>
      </div>
      <footer id="footer" class="section site-footer">
        <div class="site-footer-credits contact">Hold deg oppdatert på hva vi driver med på vår <a href="https://www.facebook.com/digitusuio/">Facebook</a> og på vår <a href="https://www.instagram.com/digitus_uio/">Instagram</a></div>
      </footer>
    </main>
    <script type="text/javascript">
      function callAjax(url, callback){
        var xmlhttp;
        // compatible with IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
            callback(xmlhttp.responseText);
          }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
      }

      callAjax('https://api.instagram.com/v1/users/self/media/recent/?access_token=5889155613.7519461.9110620ffed1489c94fc0c38763186df', function(data) {
        data = JSON.parse(data)['data'];

        data.forEach(function(image) {
          document.getElementsByClassName('images-holder')[0].innerHTML += '<a href="' + image.link + '"><img src="' + image.images.thumbnail.url + '"/>';
        });

      });

      callAjax('https://us-central1-ifi-tracking.cloudfunctions.net/function-1', function(data) {
        data = JSON.parse(data)['data'];

        data.forEach(function(event) {
          document.getElementsByClassName('calender')[0].innerHTML += '<div class="event"><div class="event"><a href="https://www.facebook.com/events/' + event.id +'/"><h2>' + event.name +'</h2></a></div><p>' + event.start_time + ', ' + event.place + '</p></div>'
        });
      });

    </script>
  </body>
</html>
