<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <img src="/assets/img/logo.png"/>
      <h2>{{ site.description }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <div class="section-container">
        <div id="calender" class="section calender">
          <h2>Arrangementer</h2>
          <div class="event">
            <a href="#"><h3>Morro med digitus</h3></a>
            <p>Torsdag kl. 12:15, Fortran</p>
          </div>
          <div class="event">
            <a href="#"><h3>Annen morro med digitus</h3></a>
            <p>22. mars kl. 18:00, Escape</p>
          </div>
          <p><a href="https://www.facebook.com/digitusuio/">Flere arrangementer på vår Facebook-side</a></p>
        </div>
        <div id="contact" class="section">
          <h2>Kontakt oss</h2>
          <div><i class="far fa-envelope"></i><a href="{{ site.contact_leader }}">{{ site.contact_leader }}</a></div>
          <div><i class="far fa-envelope"></i><a href="{{ site.contact_board }}">{{ site.contact_board }}</a></div>
          <div><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/digitusuio/">Digitus UiO</a></div>
          <div><i class="fab fa-instagram"></i><a href="https://www.instagram.com/digitus_uio/">digitus_uio</a></div>
        </div>
      </div>
      <div id="board" class="section board">
        <h2>Styret</h2>
        <div class="board-members">
        {% for board_member in site.board_members %}
          <div class="board-member">
            <img src="{{ board_member.img }}" />
            <p>{{ board_member.name }}</p>
            <p class="role">{{ board_member.role }}</p>
          </div>
        {% endfor %}
        </div>
      </div>
      <div id="images" class="section images"><h2>Bilder</h2><div class="images-holder"></div><p class="images-footer"><a href="https://www.instagram.com/digitus_uio/">Se flere bilder på vår Instagram</a></p></div>
    </main>
    <script type="text/javascript">
      function callAjax(url, callback){
        var xmlhttp;
        // compatible with IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
            callback(xmlhttp.responseText);
          }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
      }

      callAjax('https://api.instagram.com/v1/users/self/media/recent/?access_token=5889155613.7519461.9110620ffed1489c94fc0c38763186df', function(data) {
        data = JSON.parse(data)['data'];
        var i = 0;
        data.forEach(function(image) {
          if(i < 9) {
            document.getElementsByClassName('images-holder')[0].innerHTML += '<a href="' + image.link + '"><img src="' + image.images.low_resolution.url + '"/>';
          }
          i++;
        });

      });

      callAjax('https://us-central1-ifi-tracking.cloudfunctions.net/function-1', function(data) {
        data = JSON.parse(data)['data'];

        data.forEach(function(event) {
          document.getElementsByClassName('calender')[0].innerHTML += '<div class="event"><div class="event"><a href="https://www.facebook.com/events/' + event.id +'/"><h2>' + event.name +'</h2></a></div><p>' + event.start_time + ', ' + event.place + '</p></div>'
        });
      });

    </script>
  </body>
</html>
