<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#299cd8">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Digitus">
    <meta name="application-name" content="Digitus">
    <meta name="msapplication-TileColor" content="#299cd8">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#299cd8">
    <title>Vedtekter | Digitus</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>

    <!-- Load the element definition -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>

</head>
<body>
    <header class="header" role="banner">
        <a href="/" class="logo"><img class="logo" src="/assets/img/logo_d.png" alt="Digitus logo"/></a>
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label class="menu-icon" for="nav-trigger"><span class="navicon"></span></label>
        <div class="menu">
            <a href="/">TILBAKE</a>
        </div>
    </header>
    <main id="content" class="main-content" role="main">
        <!--<div id="includedContent" class="section vedtekter"></div>-->
        <div class="vedtekter">
            <zero-md src="digitus_vedtekter.md"></zero-md>
        </div>

    </main>
    <footer class="page-footer">
        <img src="/assets/img/logo.png" alt="logo"/>
        <p>Kontakt oss:<a href="mailto:styret@digitusuio.no">styret@digitusuio.no</a></p>
        <div class="icon-bar">
            <a href="https://www.facebook.com/digitusuio/" target="_blank" >
                <img src="/assets/img/facebook.svg" alt="facebook"/>
            </a>
            <a href="https://www.instagram.com/digitus_uio/" target="_blank" >
                <img src="/assets/img/instagram.svg" alt="instagram"/>
            </a>
            <a href="https://www.linkedin.com/company/digitusuio/" target="_blank" >
                <img src="/assets/img/linkedin.svg" alt="linkedin"/>
            </a>
        </div>
    </footer>
</body>
</html>